/*fonts*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);
:root {
  --rosa---: #6c6065;
  ---black---:black;
  --cordomodal---:#6c6065;
  --corencimadomodal---:#8f818dcc;

  /****Fonts*****/
  --title-roboto: 'Roboto', sans-serif;
}
body {
  font-family: var(--title-roboto);
  position: relative;
  font-weight: 400px;
}

ul li {
  list-style: none;
}

a:hover {
  outline: none;
  text-decoration: none;
}

a:focus {
  outline: none;
  outline-offset: 0;
}

a {
  -webkit-transition: 300ms;
  transition: 300ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-roboto);
}

.btn:hover,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-toggle {
  background-color: var(---black---);
}

a#scrollUp {
  bottom: 0px;
  right: 10px;
  padding: 5px 10px;
  background: var(--rosa---);
  color: #fff;
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
}

a#scrollUp i {
  font-size: 30px;
}

/*************************
*******Header CSS******
**************************/

.header_top {
  background: none repeat scroll 0 0 var(--rosa---);
}

.contactinfo ul li:first-child {
  margin-left: -15px;
}

.contactinfo ul li a {
  font-size: 12px;
  color: var(---black---);
  font-family: var(--title-roboto);
}

.contactinfo ul li a:hover {
  background: inherit;
}

.social-icons ul li a {
  border: 0 none;
  border-radius: 0;
  color: var(---black---);
  padding: 0px;
}

.social-icons ul li {
  display: inline-block;
}

.social-icons ul li a i {
  padding: 11px 15px;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.social-icons ul li a i:hover {
  color: #fff;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.fa-facebook:hover {
  background: #212cc0;
}

.fa-twitter:hover {
  background: #5bbcec;
}

.fa-linkedin:hover {
  background: #0083c9;
}

.fa-dribbble:hover {
  background: #90c9dc;
}

.fa-google-plus:hover {
  background: #ce3c2d;
}

.header-middle .container .row {
  border-bottom: 1px solid #f5f5f5;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

.header-middle .container .row .col-sm-4 {
  padding-left: 0;
}

.header-middle .container .row .col-sm-8 {
  padding-right: 0;
}
.usa {
  border-radius: 0;
  color: #b4b1ab;
  font-size: 12px;
  margin-right: 20px;
  padding: 2px 15px;
  margin-top: 10px;
}
.usa:hover {
  background: var(--rosa---);
  color: #fff;
  border-color: var(--rosa---);
}
.usa:active,
.usa.active {
  background: none repeat scroll 0 0 var(--rosa---);
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  outline: 0;
}

.btn-group.open .dropdow-toggle {
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dropdow-menu li a:hover,
.dropdow-menu li a:focus {
  background: var(--rosa---);
  color: #ffffff;
  font-family: var(--title-roboto);
  text-decoration: none;
}
.shop-menu ul li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}
.shop-menu ul li:last-child {
  padding-right: 0;
}
.shop-menu ul li a {
  background: #fff;
  color: var(---black---);
  font-family: var(--title-roboto);
  font-size: 14px;
  font-weight: 300;
  padding: 0;
  padding-left: 0;
  margin-top: 10px;
}
.shop-menu ul li a i {
  margin-right: 3px;
}
.shop-menu ul li a:hover {
  color: var(--rosa---);
  background: #fff;
}
.header-bottom {
  padding-bottom: 30px;
  padding-top: 30px;
}
.naber-collapse.collapse {
  padding-left: 0;
}
.mainmenu ul li {
  padding-right: 15px;
  padding-left: 15px;
}
.mainmenu ul li:first-child {
  padding-left: 0px;
}
.mainmenu ul li a {
  color: var(---black---);
  font-family: var(--title-roboto);
  font-size: 17px;
  font-weight: 300;
  padding: 0;
  padding-bottom: 10px;
}
.mainmenu ul li a:hover,
.mainmenu ul li a:active,
.shop-menu ul li a:active {
  background: none;
  color: var(--rosa---);
}
.search_box input {
  background: #f0f0e9;
  border: medium none;
  color: var(---black---);
  font-family: var(--title-roboto);
  font-size: 12px;
  font-weight: 300;
  height: 35px;
  outline: medium none;
  padding-left: 10px;
  width: 255px;
  background-image: url(../image/home/searchicon.png);
  background-repeat: no-repeat;
  background-position: 230px;
}

/****Dropdown menu****/
.navbar-header .navbar-toggle .icon-bar {
  background-color: white;
}

.nav.navbar-nav > li:hover > ul.sub-menu {
  display: block;
  -webkit-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;
}
ul.sub-menu {
  position: absolute;
  top: 30px;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  list-style: none;
  padding: 0;
  width: 220px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 999;
}
.dropdwon ul.sub-menu li .active {
  color: var(---black---);
  padding-left: 0;
}
.navbar-nav li ul.sub-menu li {
  padding: 10px 20px 0;
}
.dropdown ul.sub-menu li:last-child {
  padding-bottom: 20px;
}
.navbar-nav li ul.sub-menu li a {
  color: #fff;
}
.navbar-nav li ul.sub-menu li a:hover {
  color: var(--rosa---);
}
.fa-angle-down {
  padding-left: 5px;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/**************Footer CSS***********************/

#footer {
  background: var(--rosa---);
}
.footer-widget {
  margin-bottom: 5px;
}
.footer-widget{
  align-content: center;
  justify-content: space-between;
}
.footer-widget .container {
  border-top: 1px solid black;
  padding-top: 15px;
}
.single-widget h2{
  color: black;
  font-family: var(--title-roboto);
  font-size: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.single-widget h2 i {
  margin-right: 15px;
}
.single-widget ul li a {
  color: black;
  font-family: var(--title-roboto);
  font-size: 14px;
  font-weight: 300;
  padding: 5px 0;
}
.single-widget ul li a:hover {
  background: none;
  color:white;
}
.footer-bottom {
  background: #d6d6d0;
  padding-top: 10px;
}

.footer-bottom p {
  color: #363432;
  font-family: var(--title-roboto);
  font-weight: 300;
  margin-left: 15px;
}

.footer-bottom p span a {
  color: var(--rosa---);
  font-style: italic;
  text-decoration: underline;
}

/*********Home*************/
#slider {
  padding-bottom: 45px;
}
.carousel-indicators li {
  background: #b4b1ab;
}
.carousel-indicators li.active {
  background: var(--rosa---);
}
.item {
  padding-left: 100px;
}
.pricing {
  position: absolute;
  right: 40%;
  top: 52%;
}
.girl {
  margin-left: 0;
}
.item h1 {
  color: var(--rosa---);
  font-family: var(--title-roboto);
  font-size: 40px;
  margin-top: 115px;
}
.item h1 span {
  color: var(---black---);
}
.item h2{
  color: #363432;
  font-family: var(--title-roboto);
  font-size: 28px;
  font-weight:700;
  margin-top: 10px;
}
.item p{
  color: var(---black---);
  font-size: 16px;
  font-weight: 300;
  font-family: var(--title-roboto);
}
.get{
  background: var(--rosa---);
  border: 0 none;
  border-radius: 5px;
  color: #ffffff;
  font-family: var(--title-roboto);
  font-size: 16px;
  font-weight: 300;
  margin-top: 23px;
}
.item button:hover {
  background: #b4b1ab;
}
.control-carousel{
  position: absolute;
  top: 50%;
  font-size: 80px;
  color: #b4b1ab;
}
.control-carousel:hover{
  color: var(--rosa---);
}
.right{
  right: 0;
}
.category-products{
  border: 1px solid var(--rosa---);
  margin-bottom: 35px;
  padding-bottom:35px;
  padding-top: 15px
}
.left-sidebar h2, .brands_products h2{
  color: var(---black---);
  font-family: var(--title-roboto);
  font-size:18px;
  font-weight: 700;
  margin: 0 auto 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
}

.left-sidebar h2::after, h2.title::after{
  content:' ';
  position: absolute;
  border:1px solid #f5f5f5;
  bottom: 8px;
  left:0;
  width: 100%;
  height: 0;
  z-index: -2;
}

.left-sidebar h2::before{
  content:' ';
  position: absolute;
  background: #fff;
  bottom: -6px;
  width: 130px;
  height:30px;
  z-index: -1;
  left: 50%;
  margin-left: -65px;
}

h2.title::before{
  content: ' ';
  position: absolute;
  background: #fff;
  bottom: -6px;
  width: 220px;
  height: 30px;
  z-index: -1;
  left: 50%;
  margin-left: -110;
}

.category-products .panel{
  background: #ffffff;
  border: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0px;
}

.cotegory-products .panel-default .panel-heading{
  background-color: #ffffff;
  border: 0 none;
  color: #ffffff;
  padding: 5px 20px;
}

.category-products .panel-default .panel-heading .panel-title a{
  color: var(---black---);
  font-family: var(--title-roboto);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.panel-group .panel-heading + .panel-collapse .panel-body{
  border-top: 0 none;
}

.category-products .badge{
  background:none;
  border-radius: 10px;
  color:var(--rosa---);
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.panel-body ul{
  padding-left: 20px;
}

.panel-body ul li a{
  color: var(---black---);
  font-family: var(--title-roboto);
  font-size: 12px;
  text-transform: uppercase;
}

.brands-name{
  border: 1px solid #f7f7f0;
  padding-bottom: 20px;
  padding-top: 15px;
}
.brands-name .nav-stacked li a{
  background-color: #ffffff;
  color: var(---black---);
  font-family: var(--title-roboto);
  font-size: 14px;
  padding: 5px 25px;
  text-decoration: none;
  text-transform: uppercase;
}
.brands-name .nav-stacked li a:hover{
  background-color: #fff;
  color:var(--rosa---);
}
.shipping{
  background-color: #ffffff;
  margin-top: 40px;
  overflow: hidden;
  padding-top: 20px;
  position: relative;
}
.price-range{
  margin-bottom: 30px;
}
.well{
  background-color:#ffffff;
  border: 1px solid #f7f7f0;
  border-radius: 4px;
  -webkit-box-shadow:none;
  box-shadow: none;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 35px;
}
.tooltip-inner{
  background-color:var(--rosa---) ;
  border-radius: 4px;
  color: #ffffff;
  max-width: 200px;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
}
.tooltip.top .tooltip-arrow{
  border-top-color: #212cc0;
  border-width: 5px 5px 0px;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
}
.padding-right{
  padding-right: 0;
}
.features_items{
  overflow: hidden;
}
h2.title{
  color: var(---black---);
  font-family: var(--title-roboto);
  font-size: 18px;
  font-weight: 700;
  margin: 0 15px;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}
.product-image-wrapper{
  box-shadow:4px 4px 5px 0px var(--cordomodal---);
  overflow: hidden;
  margin-bottom: 30px;
}
.single-products{
  position: relative;
}
.new,
.sale{
  position: absolute;
  top: 0;
  right: 0;
}
.productinfo h2{
  color: var(---black---);
  font-family: var(--title-roboto);
  font-size: 24px;
  font-weight: 700;
}
.product-overlay{
  color: var(---black---);
  font-family: var(--title-roboto);
  font-size: 24px;
  font-weight: 700;
}
.productinfo p{
  font-family: var(--title-roboto);
  font-size: 14px;
  font-weight: 400;
  color:var(---black---);
}
.productinfo img{
  width: 100%;
}
.productinfo{
  position: relative;
}
.product-overlay{
  background: var(--corencimadomodal---);
  top: 0;
  display: none;
  height: 0;
  position: absolute;
  -webkit-transition: height 500ms ease 0s;
  transition: height 500ms ease 0s;
  width: 100%;
  display: block;
}
.single-products:hover .product-overlay{
  display: block;
  height: 100%;
}
.product-overlay .overlay-content{
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.product-overlay .add-to-cart{
  background: #fff;
  border: 0 none;
  border-radius: 4px;
  color: var(---black---);
  font-family: var(--title-roboto);
  font-size: 15px;
  margin-bottom: 25px;
}
.product-overlay .add-to-cart:hover{
  background: #fff;
  color: var(--rosa---);
}
.product-overlay p{
  font-family: var(--title-roboto);
  font-size: 14px;
  font-weight: 400;
  color: var(---black---);
}
.add-to-cart{
  background: #f5f5ed;
  border:0 none;
  border-radius:4px;
  color: var(---black---);
  font-family: var(--title-roboto);
  font-size: 15px;
  margin-bottom: 25px;
}
.add-to-cart:hover{
  background: #fff;
  border: 0 none;
  border-radius: 0;
  color: #ffffff;
}

.add-to{
  margin-bottom: 10px;
}

.add-to-cart i{
  margin-right: 5px;
}

.add-to-cart:hover{
  background: var(--rosa---);
  color: #ffffff;
}

.choose{
  border-top: 1px solid var(--rosa---);
}

.choose ul li a{
  color: #b3afa8;
  font-family: var(--title-roboto);
  font-size: 13px;
  padding-left:0 ;
  padding-right: 0;
}
.choose ul li a i{
  margin-right: 5px;
}
.choose ul li a:hover {
  background: none;
  color: var(--rosa---);
}
.category-tab ul li a{
  color: white;
}
.category-tab {
  overflow: hidden;
}

.category-tab ul {
  background: #40403e;
  border-bottom: 1px solid var(--rosa---);
  list-style: none outside none;
  margin: 0 0 30px;
  padding: 0;
  width: 100%;
}

.category-tab ul li a {
  border: 0 none;
  border-radius: 0;
  color: #b3afa8;
  display: block;
  font-family: var(--title-roboto);
  font-size: 14px;
  text-transform: uppercase;
}

.category-tab ul li a:hover {
  background: var(--rosa---);
  color: #fff;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: var(--rosa---);
  border: 0px;
  color: #ffffff;
  cursor: default;
  margin-right: 0;
  margin-left: 0;
}

.nav-tabs li a{
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px 4px 0 0;
  line-height: 1.42857;
  margin-right: 0;
}
.recommended-items{
  overflow: hidden;
}
#recommended-item-carousel .carousel-inner .item{
  padding-left: 0;
}
.recommended-item-control{
  position: absolute;
  top: 41%;
}
.recommended-item-control i{
  background: none repeat scroll 0 0 var(--rosa---);
  color: #ffffff;
  font-size: 20px;
  padding: 4px 10px;
}
.recommended-item-control i:hover{
  background: #ccccc6;
}

.our-partners{
  overflow: hidden;
}

.our-partners ul {
  background: #f7f7f0;
  margin-bottom: 50px;
}

/********************Shop CSS*******************************/

#advertisement {
  padding-bottom: 45px;
}

#advertisement img {
  width: 100%;
}

.pagination {
  display: inline-block;
  margin-bottom: 25px;
  margin-top: 0;
  padding-left: 15px;
}

.pagination li:first-child a,
.pagination li:first-child span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 0;
}

.pagination li:last-child a,
.pagination li:last-child span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.pagination .active a,
.pagination .active span,
.pagination .active a:hover,
.pagination .active span:hover,
.pagination .active a:focus,
.pagination .active span:focus {
  background-color: var(--rosa---);
  border-color: var(--rosa---);
  color: #ffffff;
  cursor: default;
  z-index: 2;
}

.pagination li a,
.pagination li span {
  background-color: #f0f0e9;
  border: 0;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  margin-right: 5px;
  color: #000;
}

.pagination li a:hover {
  background: var(--rosa---);
  color: #fff;
}

/*************************
*******Product Details CSS******
**************************/

.product-details {
  overflow: hidden;
}

#similar-product {
  margin-top: 40px;
}

#reviews {
  padding-left: 25px;
  padding-right: 25px;
}

.product-details {
  margin-bottom: 40px;
  overflow: hidden;
  margin-top: 10px;
}

.view-product {
  position: relative;
}

.view-product img {
  border: 1px solid #f7f7f0;
  height: 380px;
  width: 100%;
}

.view-product h3 {
  background: var(--rosa---);
  bottom: 0;
  color: #ffffff;
  font-family: var(--title-roboto);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 8px 20px;
  position: absolute;
  right: 0;
}

#similar-product .carousel-inner .item {
  padding-left: 0px;
}

#similar-product .carousel-inner .item img {
  display: inline-block;
  margin-left: 15px;
}

.item-control {
  position: absolute;
  top: 35%;
}

.item-control i {
  background: var(--rosa---);
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px;
}

.item-control i:hover {
  background: #ccccc6;
}

.product-information {
  border: 1px solid #f7f7f0;
  overflow: hidden;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-top: 60px;
  position: relative;
}

.newarrival {
  position: absolute;
  top: 0;
  left: 0;
}

.product-information h2 {
  color: #363432;
  font-family: var(--title-roboto);
  font-size: 20px;
  margin-top: 0;
}

.product-information p {
  color: #696763;
  font-family: var(--title-roboto);
  margin-bottom: 5px;
}

.product-information span {
  display: inline-block;
  margin-bottom: 8px;
  margin-top: 18px;
}

.product-information span span {
  color: var(--rosa---);
  float: left;
  font-family: var(--title-roboto);
  font-size: 30px;
  font-weight: 700;
  margin-right: 20px;
  margin-top: 0px;
}

.product-information span input {
  border: 1px solid #dededc;
  color: #696763;
  font-family: var(--title-roboto);
  font-size: 20px;
  font-weight: 700;
  height: 33px;
  outline: medium none;
  text-align: center;
  width: 50px;
}

.product-information span label {
  color: #696763;
  font-family: var(--title-roboto);
  font-weight: 700;
  margin-right: 5px;
}

.share {
  margin-top: 15px;
}

.cart {
  background: var(--rosa---);
  border: 0 none;
  border-radius: 0;
  color: #ffffff;
  font-family: var(--title-roboto);
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.shop-details-tab {
  border: 1px solid #f7f7f0;
  margin-bottom: 75px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 10px;
}

.shop-details-tab .col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}

#reviews ul {
  background: #ffffff;
  border: 0 none;
  list-style: none outside none;
  margin: 0 0 20px;
  padding: 0;
}

#reviews ul li {
  display: inline-block;
}

#reviews ul li a {
  color: #696763;
  display: block;
  font-family: var(--title-roboto);
  font-size: 14px;
  padding-right: 15px;
}

#reviews ul li a i {
  color: var(--rosa---);
  padding-right: 8px;
}

#reviews ul li a:hover {
  background: #fff;
  color: var(--rosa---);
}

#reviews p {
  color: #363432;
}

#reviews form span {
  display: block;
}

#reviews form span input {
  background: #f0f0e9;
  border: 0 none;
  color: #a6a6a1;
  font-family: var(--title-roboto);
  font-size: 14px;
  outline: medium none;
  padding: 8px;
  width: 48%;
}

#reviews form span input:last-child {
  margin-left: 3%;
}

#reviews textarea {
  background: #f0f0e9;
  border: medium none;
  color: #a6a6a1;
  height: 195px;
  margin-bottom: 25px;
  margin-top: 15px;
  outline: medium none;
  padding-left: 10px;
  padding-top: 15px;
  resize: none;
  width: 99.5%;
}

#reviews button {
  background: var(--rosa---);
  border: 0 none;
  border-radius: 0;
  color: #ffffff;
  font-family: var(--title-roboto);
  font-size: 14px;
}

/*************************
*******404 CSS******
**************************/

.logo-404 {
  margin-top: 60px;
}

.content-404 {
  margin-bottom: 60px;
}

.content-404 h1 {
  color: #363432;
  font-family: var(--title-roboto);
  font-size: 41px;
  font-weight: 300;
}

.content-404 img {
  margin: 0 auto;
}

.content-404 p {
  color: #363432;
  font-family: var(--title-roboto);
  font-size: 18px;
}

.content-404 h2 {
  margin-top: 50px;
}

.content-404 h2 a {
  background: var(--rosa---);
  color: #ffffff;
  font-family: var(--title-roboto);
  font-size: 44px;
  font-weight: 300;
  padding: 8px 40px;
}

/***************Login page css***************/

#form{
  display: block;
  margin-bottom: 80px;
  margin-top: 80px;
  overflow: hidden;
}

.login-form h2,
.signup-form h2{
  color: black;
  font-family: var(--title-roboto);
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}

.login-form form input,
.signup-form form input {
  background: #f0f0e9;
  border: medium none;
  color: var(--rosa---);
  display: block;
  font-family: var(--title-roboto);
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  margin-bottom: 10px;
  outline: medium none;
  padding-left: 10px;
  width: 100%;
}

.login-form form span{
  line-height: 25px;
}

.login-form form span input{
  width: 15px;
  float: left;
  height: 15px;
  margin-right: 5px;
}
.login-form form button{
  margin-top: 23px;
}

.login-form form button, .signup-form form button{
  background: var(--rosa---);
  border: medium none;
  border-radius: 2px;
  color: #ffffff;
  display: block;
  font-family: var(--title-roboto);
  padding: 6px 25px;
}

.login-form label input {
  border: medium none;
  display: inline-block;
  height: 0;
  margin-bottom: 0;
  outline: medium none;
  padding-left: 0;
}

.or {
  background: var(--rosa---);
  border-radius: 40px;
  color: #ffffff;
  font-family: var(--title-roboto);
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  margin-top: 75px;
  text-align: center;
  width: 50px;
}